/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style: none;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
                        /*R E S E T*/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

body {
	background: radial-gradient(circle at 50% 1%, #474ebd, #371c84);
}

.container__body {
    height: 100%;
    width: 100%;
    margin: 15vh auto;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}

#music_player {
    height: 70vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    background: #2affdc;
    margin: auto;
    -webkit-box-shadow: 0px 6px 26px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 6px 26px -2px rgba(0,0,0,0.55);
    box-shadow: 0px 6px 26px -2px #bb46f9;
}

#music_player .container__control {
    flex-basis: 88%;
    display: flex;
    justify-content: flex-start;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}

.player {
    flex-basis: 50%;
    flex-wrap: wrap;
}

.left {
    background: linear-gradient(115deg, #ff79aa, #b743ff);
    display: flex;
    flex-direction: column;
}

.container__left__top {
    background: #f5f5f5;
    flex-basis: 30%;
    display: flex;
    justify-content: flex-start;
}

.logo_and_playlist_h1 {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.logo {
    flex-basis: 80%;
	background-image: url('/assets/img/foxplayer.png');
	background-repeat: no-repeat;
}

.PList_h1_and_creatPList {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
}

h1 {
    flex-basis: 85%;
	font-family: 'Raleway', sans-serif;
	font-size: 1.6vw;
	color: #555555;
	padding-left: 2vw;
	font-weight: bolder;
}

.createPList {
    flex-basis: 15%;
	color: #555555;
	padding-top: 0.8vh;
}

.cover_art {
    flex-basis: 40%;
    /*background: linear-gradient(115deg, #3e2b6b, #3b7a9a);*/
	background-image: url("img/music-placeholder.png");
	background-size: cover;
    background-position: center;
	background-repeat:no-repeat;
}

.PList_titles {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

.list_name {
	background-position: center;
	height: 7vh;
    border-bottom: 1px solid #614ac1;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1vw;
	font-weight: 500;
	color: white;
	display: flex;
}

.list_name p {
	flex-basis: 90%;
}

.list_deleter {
	flex-basis: 10%;
	font-weight: 700;
	font-size: 1.4vw;
	align-self: center;
	color: #371c84;
}

.right {
    display: flex;
    flex-direction: column;
}

.container__right__top {
    flex-basis: 18.3%;
    display: flex;
	background: #f5f5f5;
	justify-content: flex-start;
}

.title_box {
    flex-basis: 84%;
    display: flex;
    flex-direction: column;
}

.album_title {
    flex-basis: 50%;
}

h2, h3 {
	font-family: 'Raleway', sans-serif;
}

.album_title h2 {
	font-weight: bolder;
	font-size: 1.6vw;
	color: #555555;
	padding-top: 2vh;
	padding-left: 2vw;
}

.artist_name {
    flex-basis: 50%;
}

.artist_name h3 {
	font-weight: 500;
	font-size: 0.9vw;
	color: #999999;
	padding-left: 2vw;
}

.add_track, .like_track {
	font-weight: 500;
	font-size: 1.5vw;
	color: #555555;
	align-self: center;
}

.add_track {
    flex-basis: 8%;
}

.like_track {
    flex-basis: 8%;
}

#playlist {
    flex-basis: 81.7%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
	background: linear-gradient(135deg, #00bec7, #0073e8);
}

#playlist li {
	display: flex;
    height: 7vh;
    border-bottom: 1px solid #89d4fb;
}

#playlist li article {
	flex-basis: 95%;
	align-self: center;
	cursor: default;
}

#playlist li span {
	flex-basis: 5%;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	cursor: default;
	align-self: center;
}


#music_player footer {
    flex-basis: 12%;
    flex-wrap: wrap;
    /*background: #51d400;*/
	background: linear-gradient(135deg, #e867c5, #0094d9);
    position: relative;
    display: flex;
}

a {
	border-bottom: none;
	text-decoration: none;
}


p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1vw;
    font-weight: 500;
	color: #FFFFFF;
    padding: 2.3vh 2.6vw;
	cursor: default;
}

article p {
	font-weight: 600;
	max-width: 18vw;
	-webkit-font-smoothing: antialiased;
	cursor: default;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	padding: 2.3vh 0 2.3vh 2.6vw;
}

span p {
	padding: 2.3vh 1.2vw 2.3vh 0;
}

.audio {
    width: 100%;
    position: absolute;
    align-self: center;
    background: hidden;

}

audio::-webkit-media-controls, audio::-webkit-media-controls-panel {
	background: transparent;
}
