body {
    background: #eee;
    color: #eee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    height: 600px;
    max-width: 300px;
}

.item_green {
    background: #51d400;
    flex-grow: 1;
    order: 1;
}

.item_yellow {
    background: #ffd62a;
    flex-grow: 2;
    order: 3;
}

.item_purple {
    background: #b02aff;
    flex-grow: 1;
    order: 2;
