body {
    margin: 0px;
}

section {
    width: 100%;
    height: 1200px;
    margin: auto;
    background: #e8ecf2;
}

header {
    height: 100px;
    background: #00ffff;
}

main {
    height: 500px;
    display: flex;
}

.left {
    background: #fea500;
    width: 100px;
    margin-right: 10px;
}

.middle {
    background: #fe0000;
    width: 100%;
    position: relative;
}

.right {
    background: #81007f;
    width: 100px;
    margin-left: 10px;
}

p {
    height: 50px;
    width: 50px;
    background: black;
    position: absolute;
    margin: 0;
    left: 79%;
    top: 87%;
}

footer {
    background: blue;
    width: 100%;
    height: 100px;
}
