/** {
    margin: 0;
    padding: 0;
}*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
                        /*R E S E T*/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.container__body {
    background: #F6E0E0;
    height: 100%;
    width: 100%;
    margin: 15vh 10vw;
}

#music_player {
    height: 70vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    background: rgb(219,165,241); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(219,165,241,1) 0%, rgba(173,48,222,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(219,165,241,1) 0%,rgba(173,48,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(219,165,241,1) 0%,rgba(173,48,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dba5f1', endColorstr='#ad30de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.container__control {
    flex-basis: 88%;
    display: flex;
    justify-content: flex-start;
}

.player {
    flex-basis: 50%;
}

.left {
    background: #2affdc;
}

.right {
    background: #2AEAFF;
}

footer {
    flex-basis: 12%;
    background: #51d400;
    position: relative;
}
