/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style: none;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
                        /*R E S E T*/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.container__body {
    background: #F6E0E0;
    height: 100%;
    width: 100%;
    margin: 15vh auto;
}

#music_player {
    height: 70vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    background: #2affdc;
    margin: auto;
}

#music_player .container__control {
    flex-basis: 88%;
    display: flex;
    justify-content: flex-start;
}

.player {
    flex-basis: 50%;
    flex-wrap: wrap;
}

.left {
    background: linear-gradient(115deg, #ff79aa, #b743ff);
    display: flex;
    flex-direction: column;
}

.container__left__top {
    background: linear-gradient(115deg, #3c4b79, #253050);
    flex-basis: 30%;
    display: flex;
    justify-content: flex-start;
}

.logo_and_playlist_h1 {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.logo {
    flex-basis: 80%;
}

.PList_h1_and_creatPList {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
}

h1 {
    flex-basis: 85%;
    background: linear-gradient(115deg, #378cf7, #a8edfd);
}

.createPList {
    flex-basis: 15%;
    background: #6d87e1;
}

.cover_art {
    flex-basis: 40%;
    background: linear-gradient(115deg, #3e2b6b, #3b7a9a);
}

.PList_titles {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

.all_track, .favorites {
    height: 7vh;
    border-bottom: 1px solid black;
}

.right {
    background: linear-gradient(135deg, #00bec7, #0073e8);
    display: flex;
    flex-direction: column;
}

header {
    flex-basis: 20%;
    display: flex;
}

.title_box {
    flex-basis: 84%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #82d2c8, #47b2a3);
}

.song_title {
    flex-basis: 50%;
}

.album_title {
    flex-basis: 50%;
    background: linear-gradient(135deg, #684fcd, #3b2a7b);
}

.add_track {
    flex-basis: 8%;
    background: #f5f5f5;
}

.like_track {
    flex-basis: 8%;
    background: #f5f5f5;
}

#playlist {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
}

#playlist li {
    height: 7vh;
    border-bottom: 1px solid black;
}


#music_player footer {
    flex-basis: 12%;
    flex-wrap: wrap;
    background: #51d400;
    position: relative;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1vw;
    color: black;
    padding: 2.2vh 2.6vw;
}
